.emoryleftview{

  .mu-expansion-panel-header {
    padding: 0 12px;
    > div{
      display: flex;
      justify-content: center;
      align-items:center;
      flex-direction: row;
    }


    div.title {
      max-height:20px;
      font-size: 10px;
      padding: 2px;
      margin-right:6px;
      background-color: red;
      border-radius: 4px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;

      &.anime{
        background-color: #1c8f4c;
      }

      &.lovestory{
        background-color: #d22f76;
      }

      &.history{
        background-color: #5f4fcc;
      }

      &.mistery{
        background-color: #672810;
      }
    }

    div.subtitle {
      font-size: 10px;
    }
  }
  .mu-expansion-panel-content{
    padding:0;
  }

  .leftviewitem{
    margin-bottom:8px;


    .mu-card-header{

      .mu-card-header-title{
        .mu-card-title{
          background-color:red;
          padding:3px;
          border-radius:4px;
          color:white;
          text-align:center;
          font-size:12px;
          font-weight:bold;
          font-family:"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,sans-serif;
        }
      }

      &.anime .mu-card-title{
        background-color: #1c8f4c;
      }

      &.lovestory .mu-card-title{
        background-color: #d22f76;
      }

      &.history .mu-card-title{
        background-color: #5f4fcc;
      }

      &.mistery .mu-card-title{
        background-color: #672810;
      }
    }

  }

}

