.ui.grid{
  .mapleft{
    padding:0 !important;
    margin:0 !important;
    background-color: #d26c11;
  }

  .mapright{
    padding:0 !important;
    margin:0 !important;
    background-color: #22092c;
  }
}


.mapflex {
  .maparea {
    .overlay {
      .info_box {
        text-align: center;
        position:   relative;
        cursor:     pointer;
        border-radius: 4px;
        margin:     5px;

        font-size:   1.0rem;
        font-weight: bold;
        color:       #fff;

        h1, h2 {
          color:    white;
          padding:  2px auto;
          margin:   2px;
          display:  block;
        }

        h1{
          font-size: 1.6rem;
        }

        h2{
          font-size: 1rem;
        }

        .edit_form {
          background-color: rgba(255, 255, 255, 0.9);
          width:    330px;
          padding:  3px;
          border-radius: 2px;
          margin:   6px 0 0 0;

          img {
            width:  45%;
            height: auto;
            margin: 5px auto;
          }
        }

        .geo_status {
          position: absolute;
          left: 0;
          top:  0;
        }

        .map_toggle {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        .mode_toggle {
          position: absolute;
          right: 0;
          top: 0;
        }

        &.address{
          background-color:rgba(255,255,255,0.5);
          min-height: inherit;
        }

        &.how {
          background-color:rgba(255, 255, 255, 0.07);
        }

        &.story {
          background-color: rgba(2, 72, 18, 0.56);
        }

        &.marker_edit {
          background-color: rgba(3, 50, 109, 0.55);
        }

        &.area_edit {
          background-color: rgba(54, 10, 125, 0.56);
        }

        &.area{
          height: 78px;
          background-image:url('/static/img/emory/area_mode.png');
          background-size:cover;
          background-position:center center;
        }

        &.play {
          height: 78px;
          //background-color: rgba(3, 50, 109, 0.55);
          background-image:url('/static/img/emory/map_mode.png');
          background-size:cover;
          background-position:center center;
        }

        &.map {
          min-height: 28px;
          background-color: rgba(6, 6, 6, 0.45);
          font-size: 0.7rem;
        }
      }
    }
  }
}

.mapflex {
  width:    100%;
  margin:   60px 0 0 0;
  height:   calc(100vh - 60px);
  overflow: hidden;

  .maparea {
    z-index:  0;
    width:    100%;
    height:   100%;
    position: relative;

    .overlay {
      position: absolute;
      height:  100%;
      width:   100%;
      margin:  0;
      padding: 0;
      left:    0;
      top:     0;

      &.info_overlay {
        z-index: 100;
        background-color: rgba(41, 119, 132, 0.75);
        mix-blend-mode: hard-light;

        .bounce-loader {
          position: absolute;
          width: 60px;
          height: 60px;
          left: calc(50vw - 30px);
          top: calc(50vh - 60px);
        }

        .info_menu {
          font-family: $stencil_font;
          margin: 0 5px;
          background-color: rgba(255, 102, 133, 0.01);
          min-width: 330px;

          .usercard {
            width: 100%;
            padding: 10px;
            margin: 5px;
            background-color: #e85610;
            border-radius: 4px;
            position: relative;

            .key_btn {
              padding: 6px;
              position: absolute;
              top: 0;
              right: 0;
            }

            &.login {
              background-color: #006d45;
            }

            .mu-avatar {
              float: left;
              margin: 0 10px 5px 0;
              background-color: inherit;
            }

            .title {
              font-size: 15px;
            }

            .subtitle {
              font-size: 14px;
              color: #fff;
            }

            .header-title {
              display: inline-block;
              vertical-align: top;
              white-space: normal;
              padding-right: 90px;
              background-color: red;
              color: white;
            }
          }
        }

      }

      &.play_overlay {
        z-index: -1;
        background-color: rgba(11, 46, 118, 0.59);

        .info_col {
          .mu-card-title-container {
            padding: 6px;
          }

          .mu-card-title{
            font-size:20px;
            color: #fff;
            line-height:26px;
          }

          .mu-card-sub-title{
            color: #fff;
          }
          .mu-avatar {
            width: 25px;
            height: 25px;
            margin-right:2px;
          }

          .play_card_img {
            width: 100%;
            max-width: 200px !important;
            text-align: center;
            padding: 5px;
            margin: 0 auto;

            img {
              width: 100%;
              height: auto;
              margin: 0 auto;
            }
          }
        }
      }

      &.net_overlay {
        z-index: -1;
        background-color: rgba(37, 32, 46, 0.7);
      }

      &.edit_overlay {
        z-index: -1;
        background-color: rgba(44, 0, 61, 0.62);

        .selectedPoint{
          position:absolute;
          top:-300px;
          width:20px;
          height:20px;
          border-radius:50%;
          background-color: rgba(255, 0, 0, 0.75);
          &.project{
            background-color: rgba(0, 128, 0, 0.75);
          }
        }
      }
    }

  }

}

