#analysis_area{

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;

  padding:0;

  background-color:#252423;


  .analysis_metalist{
    width:86%;

    ul.mu-list{
      width:100%;
      li{
        .mu-item{
          height:22px;
          padding:0 6px;

          .mu-item-title {
            font-size: 12px;
            height: 15px;
            line-height: 12px;
          }
        }
      }
    }
  }
}
