.bottomnav {
  .inner {
    margin: 5px;
    width: 100%;

    .bottom_avatar{
      margin:0 3px;

      .mu-avatar{
        .mu-avatar-inner {
          position: relative;

          span.dist {
            display: inline-block;
            padding: 0 2px;
            border-radius: 2px;

            font-size: 0.45rem;
            color: white;
            font-weight: bold;
            background-color: rgba(20, 229, 110, 0.87);
            mix-blend-mode: hard-light;
            position: absolute;
            bottom: 0;
            left: 0;

            &.over{
              background-color: rgba(255, 0, 62, 0.81);
            }
          }
        }
      }
    }




    .param_area {
      width: 100%;
      //min-height: 120px;
      //background-color: #bed1ff;
      padding: 5px;
    }

    .player_area {
      width: 100%;
      padding: 5px;
      background-color: #f6f6f0;

      .mu-chip {
      }

      span {

        &.status {
          font-size: 9px;
          color: #00e100;
          margin: 1px 10px 1px 10px;



          @media (max-width: 767px) {
            visibility: hidden;
            display:none;
          }

        }

        &.artist {
          color: #ff6a00;
          margin: 1px 10px 1px 1px;

          i.mu-icon {
            font-size: 8px;
            padding-right: 3px;
          }

          @media (max-width: 767px) {
            font-size: 7px;
          }
        }

        &.track {
          color: #ff005b;
          margin: 1px 10px 1px 1px;

          i.mu-icon {
            font-size: 8px;
            padding-right: 3px;
          }

          @media (max-width: 767px) {
            font-size: 7px;
          }
        }

        &.album {
          color: #ff005b;
          margin: 1px 10px 1px 1px;

          i.mu-icon {
            font-size: 8px;
            padding-right: 3px;
          }

          @media (max-width: 767px) {
            visibility: hidden;
            display:none;
          }
        }
      }

    }

    .mu-input.devices_list{
      font-size:11px;
      text-align:center;
      display:inline-block;
      position:relative;
      min-height:inherit;
      color: rgb(10, 169, 202);
      padding-top:2px;
      padding-bottom:0;
      margin-bottom:0;
      .mu-select-input{
        text-align: center;
        color:#2196f3 !important;
        input{
          text-align: center;
        }
      }
    }
  }
}
