#map {
  top: 40px;
  min-width: 100%;
  min-height: 300px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    position: fixed !important;
    top: 64px;
    left: 0;
    height: calc(100vh - 64px) !important;
  }
}

.button {
  position: fixed;
  top: 1em;
  left: 1em;
}
