.mu-card.marker{
  width:80px !important;

  .mu-card-media{
    width:65px !important;

    img{
      width:100% !important;
      height:auto !important;
    }
  }

  .mu-card-media-title .mu-card-title{
    font-size:29px;
    line-height:22px;
  }

  .mu-card-text{
    padding:4px 0;
    font-size:12px;
    font-weight:bold;
  }
}


.userform{
  background-color:white;

  .mu-form-item{
    margin-bottom:0;
    padding-bottom:2px;
  }
}

.users_list{
  background-color:white;

  li.range{

    &.you{
      background-color:$black;
      text-align:center;

      .mu-item-title{
        color:$white;
        font-weight:bold;
      }
    }

    margin:0;
    .mu-item{
      padding: 0 5px;
      &.has-avatar{
        height:36px;
      }

      .mu-item-title{
        font-size:13px;
        text-align:center;
      }
    }
  }

}
