.mu-card.marker{
  width:150px !important;

  .mu-card-media{
    width:145px !important;

    img{
      width:140px !important;
      height:auto !important;
    }
  }

  .mu-card-text{
    padding:5px 0;
    font-size:12px;
    font-weight:bold;
  }
}
