.md-layout-item {
  padding-right: 15px;
  padding-left: 15px;
  min-height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition:all .3s ease;

  &:after {
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
  }
}
