.subscribeleftview{
  padding:0 6px;

  .container{
    background-color:white;
    margin-bottom:8px;
    padding-bottom:10px;
    border-radius:8px;

  }
  .mu-stepper{

    .mu-step-label.completed{
      .mu-step-label-icon{
        color: #e5039b;
      }
    }
  }
}

