body, html {
  height: inherit;
}

body {
  margin: 0;
  background: inherit;
  background-size: cover;
  background-color: $colorDocument;
  background-image: linear-gradient(217deg, rgba($gradPrimary, .8), rgba($gradPrimary, 0) 70.71%),
  linear-gradient(127deg, rgba($gradDocument, 1), rgba($gradDocument, 0) 70.71%),
  linear-gradient(336deg, rgba($gradSecondary, .8), rgba($gradSecondary, 0) 70.71%);

  .app-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;

    &.News, &.Top, &.Subscribe {
      margin-top: 60px;
    }

    &.News, &.Subscribe {
      background-color: #8517fe;
      color: white;
    }

    &.Login {
      background-image: url('/static/img/spotifire/bg/Login.jpg');
    }

    &.Home {
      background-image: url('/static/img/spotifire/bg/Home.jpg');
    }

    &.Emory {
      background-image: url('/static/img/emory/bg/bg1.jpg');
    }

    .container-fluid {
      padding-right: 0;
      padding-left: 0;
    }
  }
}


