.flex_v{
  @include flex('v');
  //height: calc(100vh - 60px);
  //text-align:center;

  .base{
    width:100%;
    padding:20px 12px;
  }
}
.flex_h{
  @include flex('h');
  .base{
    width:100%;
    padding:20px 12px;
  }
}

.flex-wrapper {
  width: 100%;
  height: 56px;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}
