a{
  cursor: pointer;
}

.app-wrap {
  //font-family:  $mincho !important;
  font-family:  $mincho;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: normal;
    line-height: 1.1em;
  }

  h1 {
    font-size: 220%;
  }

  h2 {
    font-size: 180%;
  }

  h3 {
    font-size: 160%;
  }

  h4 {
    font-size: 140%;
  }

  h5 {
    font-size: 120%;
  }

  h6 {
    font-size: 100%;
  }
}
