@import "variables";
@import "mixins";
@import "animations";
@import "base";
@import "optional";
@import "parts/spotify/player.scss";
@import "parts/twitter/twitter_h.scss";
@import "parts/top";
@import "parts/aside";
@import "parts/bottom";
@import "parts/map/base";
@import "parts/anime/animejs";
@import "parts/anime/organic";
@import "parts/analysis/analysis";
@import "parts/modal";
@import "parts/form";
@import "parts/pwa";
@import "parts/home";
@import "parts/news";
@import "parts/emory/leftview";
@import "parts/subscribe/leftview";
@import "parts/subscribe/rightview";
@import "parts/subscribe/snackbar";
@import "parts/spotify/spotifycode";
@import "parts/mu";

/* FLEX */
.flex_v{
  @include flex('v');
  //height: calc(100vh - 60px);
  //text-align:center;

  .base{
    width:100%;
    padding:20px 12px;
  }
}
.flex_h{
  @include flex('h');
  .base{
    width:100%;
    padding:20px 12px;
  }
}

.flex-wrapper {
  width: 100%;
  height: 56px;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.fix200x32 {
  width: 200px;
  height: 32px;
  background-color: $gold;
  color:$white;
  text-align: center;
  line-height: 32px;
  margin-left: 8px;

  &:first-child {
    margin-left: 0;
  }
}


.app-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;

  background-size:cover;
  background-position:center center;

  &.News, &.Top, &.Subscribe{
    margin-top:60px;
  }

  &.News, &.Subscribe{
   background-color: #8517fe;
    color:white;
  }

  &.Login{
    background-image:url('/static/img/bg/Login.jpg');
  }

  &.Home{
    background-image:url('/static/img/bg/Home.jpg');
  }

  &.Emory{
    background-image:url('/static/img/bg/Emory1.jpg');
  }

  // headings
  h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: normal;
    line-height: 1.1em;
  }
  h1 { font-size: 220%; }
  h2 { font-size: 180%; }
  h3 { font-size: 160%; }
  h4 { font-size: 140%; }
  h5 { font-size: 120%; }
  h6 { font-size: 100%; }
}

.VueCarousel-pagination{
  visibility: hidden;
  display:none;
}
